akad==0.11.1
requests==2.20.0
rsa==3.4.2
PyQRCode==1.2.1
BeautifulSoup4
humanfriendly
time
random
sys
json
codecs
re
os
shutil
requests
ast
pytz
atexit
traceback
base64
pafy
livejson
timeago
math
argparse
